<li>
  <a href="{% url cls|add:' tag-scan-count' %}">
    counts per tag
  </a>
</li>
<li>
  <a href="{% url cls|add:' scanner-scan-count' %}">
    counts per scanner
  </a>
</li>
<li>
  <a href="{% url cls|add:' tag-scanner-scan-count' %}">
    counts per tag-scanner combination
  </a>
</li>
<li>
  <a href="{% url cls|add:' scan-count-per-hour-of-the-day' %}">
    counts per hour of the day
  </a>
</li>
<li>
  <a href="{% url cls|add:' scan-count-per-day-of-the-week' %}">
    counts per day of the week
  </a>
</li>
<li>
  <a href="{% url cls|add:' scan-count-per-month-of-the-year' %}">
    counts per month of the year
  </a>
</li>
<li>
  <a href="{% url cls|add:' scan-intervals' %}">
    scan intervals
  </a>
</li>
