{% load staticfiles %}

<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand"
          href="{% url 'index' %}">
          AutoID Analysis
          <img id="logo" alt="logo image" src="{% static 'logo.svg' %}" />
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            role="button" aria-haspopup="true" aria-expanded="false">
              RC cars
              <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="{% url 'RCCarScan tag popularity' %}">
                tag popularity
              </a>
            </li>
            <li>
              <a href="{% url 'RCCarScan scanner popularity' %}">
                scanner popularity
              </a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="#">Analysis A</a>
            </li>
            <li>
              <a href="#">Analysis B</a>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            role="button" aria-haspopup="true" aria-expanded="false">
              activity areas
              <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="{% url 'ActivityAreaScan tag popularity' %}">
                tag popularity
              </a>
            </li>
            <li>
              <a href="{% url 'ActivityAreaScan scanner popularity' %}">
                scanner popularity
              </a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="#">Analysis A</a>
            </li>
            <li>
              <a href="#">Analysis B</a>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            role="button" aria-haspopup="true" aria-expanded="false">
              videos
              <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="{% url 'VideoScan tag popularity' %}">
                tag popularity
              </a>
            </li>
            <li>
              <a href="{% url 'VideoScan scanner popularity' %}">
                scanner popularity
              </a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="#">Analysis A</a>
            </li>
            <li>
              <a href="#">Analysis B</a>
            </li>
          </ul>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <li><a href="{% url 'admin:index' %}">Administration</a></li>
          {% comment %}
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
          role="button" aria-haspopup="true" aria-expanded="false">
            Account<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Settings</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
          {% endcomment %}
        </li>
      </ul>
    </div>
  </div>
</nav>
