{% extends 'base.html' %}


{% block extra-header %}
  {{ date_time_range_form.media }}
  <script src="http://code.highcharts.com/modules/heatmap.js"></script>
{% endblock %}

{% block title %}
  popularity of
  <code>{{ attr_names|join:"-" }}</code>
  for
  <code>{{ cls_name }}</code>
{% endblock %}

{% block content %}

{% if not attrs_popularity %}
  <div class="alert alert-info" role="alert">no data available</div>
{% else %}
  <div class="panel panel-default">
    <div class="panel-heading">relative counts</div>
    <div class="panel-body">
      <div class="attr_popularity_relative"></div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">absolute counts</div>
    <div class="panel-body">
      <div class="attr_popularity_absolute"></div>
    </div>
  </div>
{% endif %}

<script>
$(function () {
  var data = [
    {% for object, data in attrs_popularity.iteritems %}
      ['{{ object }}', {{ data.0 }}],
    {%  endfor %}
  ];

  $('.attr_popularity_relative').highcharts($.extend(true, default_options, {
    chart: {
      type: 'pie'
    },
    tooltip: {
      pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
      pie: {
        dataLabels: {
          enabled: true,
          format: '<b>{point.name}</b>: {point.percentage:.1f} %',
        }
      }
    },
    series: [{
      data: data
    }]
  }));


  $('.attr_popularity_absolute').highcharts($.extend(true, default_options, {
    chart: {
      type: 'column'
    },
    xAxis: {
      type: 'category',
      labels: {
        rotation: -45,
      }
    },
    tooltip: {
      pointFormat: '{series.name}: <b>{point.y}</b>'
    },
    yAxis: {
      min: 0,
      title: {
        text: 'count'
      }
    },
    series: [{
      data: data,
      dataLabels: {
        enabled: true,
        rotation: -90,
        color: '#FFFFFF',
        align: 'right',
        format: '{point.y}',
        y: 10, // from the top
      }
    }]
  }));
});
</script>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">limit time range</div>
      <div class="panel-body">
        <form action="." method="get">

          <div class="row">
            <div class="col-md-6">
              {% if date_time_range_form.from_datetime.errors %}
                <div class="alert alert-danger" role="alert">
                  {{ date_time_range_form.from_datetime.errors }}
                </div>
              {% endif %}
              <div class="input-group">
                {{ date_time_range_form.from_datetime.label_tag }}
                {{ date_time_range_form.from_datetime }}
                <span class="help-block">
                  {{ date_time_range_form.from_datetime.help_text|safe }}
                </span>
              </div>
            </div>
            <div class="col-md-6">
              {% if date_time_range_form.to_datetime.errors %}
                <div class="alert alert-danger" role="alert">
                  {{ date_time_range_form.to_datetime.errors }}
                </div>
              {% endif %}
              <div class="input-group">
                {{ date_time_range_form.to_datetime.label_tag }}
                {{ date_time_range_form.to_datetime }}
                <span class="help-block">
                  {{ date_time_range_form.to_datetime.help_text|safe }}
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
            <a class="btn btn-default" href="." role="button">reset</a>
            <input class="btn btn-primary" type="submit" value="Go">
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
  {% comment %}
  <div class="col-md-6">
  </div>
  {% endcomment %}
</div>

{% endblock %}
