{% extends 'base.html' %}

{% block title %}
  popularity of
  <code>{{ attr_object_name }}</code>
  for
  <code>{{ cls_name }}</code>
{% endblock %}

{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">relative counts</div>
  <div class="panel-body">
    <div id="relative_counts"></div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">absolute counts</div>
  <div class="panel-body">
    <div id="absolute_counts"></div>
  </div>
</div>

<script>
$(function () {

  var default_options = {
    title: {
      text: ''
    },
    subtitle: {
      text: ''
    },
    tooltip: {
      pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    legend: {
      enabled: false
    },
    series: [{
      name: 'count',
      colorByPoint: true,
    }]
  };

  var data = [
    {% for object, count in attr_objects_with_counts %}
      ['{{ object }}', {{ count }}],
    {%  endfor %}
  ];

  $('#relative_counts').highcharts($.extend(true, default_options, {
    chart: {
      type: 'pie'
    },
    plotOptions: {
      pie: {
        dataLabels: {
          enabled: true,
          format: '<b>{point.name}</b>: {point.percentage:.1f} %',
        }
      }
    },
    series: [{
      data: data
    }]
  }));


  $('#absolute_counts').highcharts($.extend(true, default_options, {
    chart: {
      type: 'column'
    },
    xAxis: {
      type: 'category',
      labels: {
        rotation: -45,
      }
    },
    yAxis: {
      min: 0,
      title: {
        text: 'count'
      }
    },
    series: [{
      data: data,
      dataLabels: {
        enabled: true,
        rotation: -90,
        color: '#FFFFFF',
        align: 'right',
        format: '{point.y}',
        y: 10, // from the top
      }
    }]
  }));
});
</script>

{% endblock %}
