{% extends 'base.html' %}

{% block extra-header %}
{% endblock %}

{% block title %}
  <code>{{ cls_name }}</code>
  per
  <code>{{ attr_names|join:"-" }}</code>
{% endblock %}

{% block content %}

{% if not attrs_scan_count %}
  <div class="alert alert-info" role="alert">no data available</div>
{% else %}
  <div class="panel panel-default">
    <div class="panel-heading">relative counts</div>
    <div class="panel-body">
      <div class="attr_scan_count_relative"></div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">absolute counts</div>
    <div class="panel-body">
      <div class="attr_scan_count_absolute"></div>
    </div>
  </div>
{% endif %}

<script>
$(function () {
  var data = [
    {% for object, data in attrs_scan_count.iteritems %}
      ['{{ object }}', {{ data }}],
    {%  endfor %}
  ];

  $('.attr_scan_count_relative').highcharts($.extend(true, default_options, {
    chart: {
      type: 'pie'
    },
    tooltip: {
      pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
      pie: {
        dataLabels: {
          enabled: true,
          format: '<b>{point.name}</b>: {point.percentage:.1f} %',
        }
      }
    },
    series: [{
      data: data
    }]
  }));


  $('.attr_scan_count_absolute').highcharts($.extend(true, default_options, {
    chart: {
      type: 'column'
    },
    xAxis: {
      type: 'category',
      labels: {
        rotation: -45,
      }
    },
    tooltip: {
      pointFormat: '{series.name}: <b>{point.y}</b>'
    },
    yAxis: {
      min: 0,
      title: {
        text: 'count'
      }
    },
    series: [{
      data: data,
    }]
  }));
});
</script>

{% include 'limitable_datetime_range_form.html' %}

{% endblock %}
