{% extends 'base.html' %}

{% block extra-header %}
  <script src="http://code.highcharts.com/modules/heatmap.js"></script>
{% endblock %}

{% block title %}
  <code>{{ cls_name }}</code>
  per
  <code>{{ attr_names|join:"-" }}</code>
  combination
{% endblock %}

{% block content %}

{% if not attrs_scan_count %}
  <div class="alert alert-info" role="alert">no data available</div>
{% else %}
  <div class="panel panel-default">
    <div class="panel-heading">absolute counts</div>
    <div class="panel-body">
      <div class="attrs_scan_count_map"></div>
    </div>
  </div>
{% endif %}

<script>
$(function () {
  $('.attrs_scan_count_map').highcharts($.extend(true, default_options, {

    chart: {
      type: 'heatmap',
    },

    xAxis: {
      categories: [
        {% for object in attrs_scan_count.keys %}
          '{{ object }}',
        {%  endfor %}
      ]
    },

    yAxis: {
      categories: [
        {% for object in attrs_scan_count.values.0.keys %}
          '{{ object }}',
        {%  endfor %}
      ],
      title: null
    },

    colorAxis: {
      min: 0,
      minColor: '#FFFFFF',
      maxColor: Highcharts.getOptions().colors[0]
    },

    legend: {
      align: 'right',
      layout: 'vertical',
      margin: 0,
      verticalAlign: 'top',
      y: 25,
      symbolHeight: 280
    },

    tooltip: {
      formatter: function () {
        return  '<b>' +
                  this.series.xAxis.categories[this.point.x] +
                '</b><br>' +
                '<b>' +
                  this.series.yAxis.categories[this.point.y] +
                '</b><br>';
      }
    },

    series: [{
      name: 'combination count',
      borderWidth: 1,
      data: [
        {% for _, row in attrs_scan_count.iteritems %}
          {% for _, data in row.iteritems %}
            [
              {{ forloop.parentloop.counter0 }},
              {{ forloop.counter0 }},
              {{ data.0 }},
            ],
          {% endfor %}
        {%  endfor %}
      ],
      dataLabels: {
        enabled: true,
        color: '#000000'
      },
    }]
  }));
});
</script>

{% include 'limitable_datetime_range_form.html' %}

{% endblock %}
